<mat-grid-list cols="1" rowHeight="fit" class="span-container">
    <mat-grid-tile rowspan="1"></mat-grid-tile>
    <mat-grid-tile rowspan="2">
        <div class="span-container home-wrapper">
            <h1 class="home-title">Phase 10</h1>  
        </div>
    </mat-grid-tile>
    <mat-grid-tile  rowspan="1">
        <h3 class="home-subtitle">THE BEST VERSION</h3>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3">
        <button class="home-button" routerLink="/dashboard">Login</button>
        <button class="home-button" routerLink="/signup">Signup</button>
    </mat-grid-tile>
</mat-grid-list>

